body {
  background-color: #222;
}


.logo {
  position: absolute; 
  top: 0px;
  left: -1px;
  width: 310px;
  height: auto;
  z-index: 3;
}

@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(-80px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
} 

@keyframes fadeToBottom {
   0% {
      opacity: 0;
      transform: translateY(-80px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
} 

#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: #222;
  font-weight: 400;
  color: $white-color;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  
  

  // Set position sticky so the jumbotron stays fixed while you scroll.
  // position: sticky;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    animation: fadeInRight 1s;

    @include respond(tab-land) {
      font-size: 4rem;
      animation: fadeInRight 1s;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
      animation: fadeToBottom 1s;
    }
    @include respond(phone) {
      font-size: 3rem;
      line-height: 1.5;
      animation: fadeToBottom 1s;
    }
    @include respond(phone-xs) {
      padding-top: 40px;
      font-size: 2.8rem;
      animation: fadeToBottom 1s;
    }
  }

  .hero-cta {
    display: flex;
    animation: fadeInRight 1s;

    @include respond(tab-port) {
      justify-content: center;
      animation: fadeToBottom 1s;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
        animation: fadeToBottom 1s;
      }
    }
  }
}
